{% extends "base.html" %}

{% block content %}


		<div id="content">

        <h2>Closed</h2>

<p>The SWAP student registration form is now closed for the {{year-1}} academic year.  For students starting a SWAP access course in August {{year}}, SWAP will be in touch with you at the start of the academic year to let you know when registration is open again and to explain what you need to do.  If you are a current SWAP student who has not registered as SWAP then please get in touch with your local SWAP office as soon as possible.</p>
        
		</div>

{% endblock %}

