{% extends "base.html" %}

{% block content %}

		<div class="row-fluid">
		    <div class="span12">

		        <p>Thank you for taking the time to complete the online registration form. Your information has 
                        been successfully submitted to SWAP. You will NOT receive a confirmation email.</p>
		        
		        <p>If you are completing this form using a PC in a public place, you should now take the recommended precautions 
                        to ensure nobody else can access your session and the information you submitted. For example, close the internet 
                        browser and log off the PC.</p> 

            </div>
		</div>

{% endblock %}

