{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
    <div class="span12">

        <h2>LEAPS data policy and data protection</h2>


        <p>The information you supply to LEAPS includes personal data such as name, date of birth, home address, postcode and details 
        that will be used to support your applications to further and higher education institutions.</p>

        <p>The collection and processing of this information will be fully compliant with the Data Protection Act and with the UK 
        Statistics Authority Code of Practice on safeguarding the confidentiality of data.</p>

        <ul>

        <li>The information you supply will be held on the LEAPS computer system for administration purposes and will be used to contact 
        you again in future if required.</li>

        <li>LEAPS staff may selectively make some information available to admissions staff to support your application to Further and 
        Higher Education institutions.</li>

        <li>LEAPS may access your application details via the UCAS website in order to further support your applications where required.</li>

        <li>LEAPS, our partners and selected external bodies would like to track your progress through college or university in order to 
        support future LEAPS students. Information required will typically be requested directly from the careers service associated 
        with your school and/or your Higher Education Institution. This will adhere to the requirements on safeguarding the confidentiality 
        of data outlined above.</li>

        <li>Your personal record will be held securely for tracking purposes, currently for a period of 5 years.</li>

        <li>You have a right to view the information we hold on your personal record at any time and we ask that you keep us updated with any changes.</li>

        <li>We will not pass your data on to any external parties, with the exception of reasons given above.</li>

        </ul>

        <p>By agreeing to our data policy, you are accepting all of the above points.</p>

        <p>You must agree to our data policy in order to proceed with this online form and complete your registration for LEAPS support. 
        If you have any concerns, please feel free to contact the LEAPS Office on 0131 650 4676 or <a href="mailto:leaps@ed.ac.uk">LEAPS@ed.ac.uk</a></p>

    </div>
</div>

{% endblock %}
