{% include "head.html" %}

<body>

    <div id="container" class="container">

    <div class="alert-messages">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {%if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{category}} fade in" data-alert="alert">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    </div>

    <div class="content">
        <div class="row-fluid" style="margin-top:-10px;margin-bottom:20px;">
            <div class="span2">
              	<img src="/static/banner.png" alt="Scottish Wider Access Programme" />
            </div>
            <div class="span4">
                <h1 style="color:#3399ff;font-size:40px;margin:37px 0 -5px 0;">Scottish Wider</h1>
                <h2 style="color:#333;font-size:30px;">Access Programme</h2>
            </div>
            <div class="span6" style="padding-top:30px;">
            {% block subheading %}{% endblock %}
            </div>
        </div>
        {% block content %}{% endblock %}
    </div> <!-- /content -->

{% include "footer.html" %}

    </div> <!-- /container -->

</body>
</html>
