    <footer>
		<p>Lothians Equal Access Programme for Schools &middot; 7 Buccleuch   Place &middot; Edinburgh &middot; EH8 9LW</p>
		<p>
		<a href="/">Homepage</a> | 
		<a href="/policy">Data policy</a> | 
		<a href="/survey">Survey form</a> | 
		<a href="/schools">Schools</a> | 
		<a href="/universities">Universities</a> | 
		<a href="http://leapsonline.org">leapsonline.org</a> | 
		<a href="mailto:leaps@ed.ac.uk">LEAPS@ed.ac.uk</a> | 
		<a href="http://www.leapsonline.org/contact-us.html">Contact us</a> | 
		0131 650 4676
		</p>
    </footer>

