{% if current_user.view_admin %}
{% extends "swap/admin/admin-base.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block content %}

<div class="row-fluid">
    <div class="span12">
        <h1>In order to use this online system, you must first agree to our terms of use and data protection policy.</h1>
        <p>Blurb about data protection from school / institution perspective - access to personal data, don't share password, let SWAP know asap when people leaving / access should change, don't leave computers logged in to the system, any breach of personal data security due to misuse of this system is own responsibility, etc</p>
        <form method="POST" action="">
            <input class="btn" type="submit" name="submit" value="I agree to the SWAP terms of use and data protection policy">
        </form>
    </div>
</div>

{% endblock %}

