{% extends "swap/admin/admin-base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

<script type="text/javascript">
jQuery(document).ready(function($) {
});
</script>

<div class="hero-unit">
    <div class="row-fluid">
        <div class="span6">
            <form id="signupform" method="post" action="{{url_for('account.register')}}">
                {{ render_field(form.w) }}
                {{ render_field(form.n) }}
                {{ render_field(form.s, placeholder="********") }}
                {{ render_field(form.c, placeholder="********") }}
                {{ render_field(form.swap_locale) }}
                {{ render_field(form.view_admin) }}
                {{ render_field(form.do_admin) }}
                <div class="actions">
                    <input type="submit" value="Create user" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="span6">
            <p style="font-size:14px;">Create users for SWAP admin.</p>
            <p style="font-size:14px;">Create a user with your preferred username, and select if the user should have DO_ADMIN or 
            VIEW_ADMIN privileges. Although you can tick both, a user with DO_ADMIN privileges also automatically has the ability to 
            view admin features anyway.</p>
            <p style="font-size:14px;">VIEW_ADMIN allows a user to access the /admin area and to view any information there, but NOT to edit anything. DO_ADMIN allows a user to access the /admin area and to edit / delete / add to anything there.</p>
            <p style="font-size:14px;">Some functions, such as creating new users, or turning survey pages on and off, are only available to the super user. Super user privileges cannot be bestowed upon any new users via this interface.</p>
        </div>
    </div>
</div>

{% endblock %}

