{% if current_user.view_admin %}
{% extends "swap/admin/admin-base.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block content %}

{% if current_user.id == account.id or current_user.is_super %}

    <script type="text/javascript">
    jQuery(document).ready(function() {
    });
    </script>

    <div class="hero-unit">
        <div class="row-fluid">
            <div class="span6">
                {% if current_user.id != account.id %}
                    <h2 style="color:red;">Because you are the superuser you can edit
                    account: <span style="color:#333">{{ account.id }}</span></h2>
                {% else %}
                    <h2>Hi {{ current_user.id }}</h2>
                {% endif %}
            </div>
            <div class="span6">
                {% if current_user.do_admin or current_user.is_super %}
                <form method="POST">
                <p>New password: <input name="password" type="text" style="margin-bottom:0px;"> <input class="btn" type="submit" value="save"></p>
                <p>Delete account: <input class="btn btn-danger" type="submit" name="submit" value="delete"></p>
                </form>
                {% endif %}                
                {% if account.data.course %}
                    <p><input name="course" type="text" value="{{account.data.course}}" disabled="disabled"></p>
                {% endif %}
                {% if account.data.swap_locale %}
                    <p>SWAP locale: <input name="swap_locale" type="text" value="{{account.data.swap_locale}}" disabled="disabled"></p>
                {% endif %}
                {% if account.data.view_admin %}
                    <p>Has admin view rights</p>
                {% endif %}
                {% if account.data.do_admin %}
                    <p>Has admin edit rights</p>
                {% endif %}
            </div>
        </div>
    </div>

{% else %}

    <div class="hero-unit">
        <div class="row-fluid">
            <div class="span6">
                <h2>{{ account.id }}</h2>
            </div>
            <div class="span6">
                <p>You are not logged in as this user. Use the <a href="/account/login">login page</a> if you want to change this</p>
            </div>
        </div>
    </div>
    
{% endif %}

{% endblock %}

