{% extends "base.html" %}

{% block content %}

      <div class="row-fluid">
        <div class="span8">	
	        <p>Stuff about SWAP</p>

            <p>oiwoif woieh oifweh oiqoifdoiwej iwj iwjei fijwe fijfiwjef iwe f
            wefjweifoiwejewjf efjefjoiw je fei invorvn re vioevnr wjf oihvpoi fwij 
            ijrf ow jf wjf owiejf iwjf wjfowiejfpej iejf pwejf powej fpwoej fp
            oiwoif woieh oifweh oiqoifdoiwej iwj iwjei fijwe fijfiwjef iwe f
            wefjweifoiwejewjf efjefjoiw je fei invorvn re vioevnr wjf oihvpoi fwij 
            ijrf ow jf wjf owiejf iwjf wjfowiejfpej iejf pwejf powej fpwoej fp</p>

            <p>oiwoif woieh oifweh oiqoifdoiwej iwj iwjei fijwe fijfiwjef iwe f
            wefjweifoiwejewjf efjefjoiw je fei invorvn re vioevnr wjf oihvpoi fwij 
            ijrf ow jf wjf owiejf iwjf wjfowiejfpej iejf pwejf powej fpwoej fp
            oiwoif woieh oifweh oiqoifdoiwej iwj iwjei fijwe fijfiwjef iwe f
            wefjweifoiwejewjf efjefjoiw je fei invorvn re vioevnr wjf oihvpoi fwij 
            ijrf ow jf wjf owiejf iwjf wjfowiejfpej iejf pwejf powej fpwoej fp</p>

            <p>oiwoif woieh oifweh oiqoifdoiwej iwj iwjei fijwe fijfiwjef iwe f
            wefjweifoiwejewjf efjefjoiw je fei invorvn re vioevnr wjf oihvpoi fwij 
            ijrf ow jf wjf owiejf iwjf wjfowiejfpej iejf pwejf powej fpwoej fp
            oiwoif woieh oifweh oiqoifdoiwej iwj iwjei fijwe fijfiwjef iwe f
            wefjweifoiwejewjf efjefjoiw je fei invorvn re vioevnr wjf oihvpoi fwij 
            ijrf ow jf wjf owiejf iwjf wjfowiejfpej iejf pwejf powej fpwoej fp</p>

        </div>

        <div class="span1">
            <div class="well" style="background:#3399ff;min-height:300px;">
            </div>
        </div>
        
        <div class="span3">
            <p>Button to survey etc</p>
       		<p><a class="btn" href="/registration">registration form</a></p>
       		<p>Other actions</p>
        </div>

      </div>

{% endblock %}
