{% extends "base.html" %}

{% block content %}

      <div class="row-fluid">
        
        <div class="span12">
            <h1>Welcome to the Scottish Wider Access Programme</h1>

            <hr></hr>
            
            <p>Here you will find our online registration form</p>
       		<p style="text-align:center;margin:40px;"><a class="btn btn-large btn-info" href="/registration">Start the registration form</a></p>

            <hr></hr>

            <p>Or use our progression service to find out which university courses you can apply to</p>
       		<p style="text-align:center;margin:40px;"><a class="btn btn-large btn-info" href="/progression">Use the progression service</a></p>

            <hr></hr>
            
       		<p>Alternatively if you are looking for further information about SWAP, go to our 
       		<a href="http://www.scottishwideraccess.org/">main website</a>.</p>
        </div>

      </div>

{% endblock %}
