{% extends "base.html" %}

{% block content %}

      <div class="row-fluid">
        
        <div class="span12">
            <h1>Welcome to the Scottish Wider Access Programme online services website</h1>

            <hr></hr>
            
       		<p style="text-align:center;margin:40px;"><a class="btn btn-large btn-info" href="/progression">SWAP progression service</a></p>

            <hr></hr>
            
       		<p>For further information about SWAP, go to our 
       		<a href="http://www.scottishwideraccess.org/">main website</a>.</p>
        </div>

      </div>

{% endblock %}
