{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
    <div class="span12">

        <h2>Statement on Data and Information Sharing</h2>

        <p>As a charity which supports adult learners in the development of their learner journey, the Scottish Wider Access Programme (SWAP) gathers and retains data relating to Programme participants. This data is used to monitor the effectiveness of the Programme, as well as to improve the student experience and to contribute to wider research relating to widening access in Scotland. SWAP tracks SWAP students throughout their studies both at college and, if applicable, at university. This data is used to compile reports which may be shared with relevant interested parties such as SWAP partner institutions, SWAP management groups, the Scottish Funding Council, and Scottish Government bodies.</p>

        <p><b>Any statistical or other reports SWAP subsequently publishes will never identify you as an individual.</b></p>

        <p>In addition to the personal information requested via the SWAP Online Registration Form, SWAP may gather and use data relating to you as follows:</p>

        <ul>
        <li>SWAP requests data from colleges and universities relating to the programme, entry, progression, retention, attainment, and destination of individual current and former SWAP students</li>
        <li>This data and the data obtained via the SWAP student registration form will be used for research and monitoring purposes, including for the publication of statistical reports. The dissemination of any such reports is limited to relevant partner organisations i.e. colleges, universities, funding and government bodies, and related educational institutions. SWAP will never publish any data which could lead to the identification of individuals.</li>
        <li>SWAP may enter into dialogue and share data from your SWAP registration form and / or your UCAS application form with any universities or colleges to which you apply. This will be in order to clarify issues relating to your status as a SWAP student and / or to resolve issues relating to university offers you have received or may receive.</li>
        </ul>

        <p><b>By submitting a SWAP online registration form you are giving permission for SWAP to use your data as set out above.</b></p>

        <p>If you do not want us to share your information you should not use the online registration form. You will need to contact us (0131 650 6861) as you are still required to register as a SWAP student.</p>

        <p>SWAP is a registered Data Controller and is fully compliant with the Principles and the other conditions set down in the Data Protection Act (DPA). <a href="http://www.scottishwideraccess.org/national-swap_data_protection_policy.php?section_id=290">Full details on SWAP's Data Protection Policy</a></p>

    </div>
</div>

{% endblock %}
