{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
    <div class="span12">

<h2>Sharing your information with us - our data policy</h2>

<p>As part of our research into widening access in Scotland, SWAP tracks students throughout their studies at both college and university. We do this by using the information students give us, e.g. on this form.</p>

<p>The use of this data is listed below</p>

<ul>
<li>We ask Colleges and Universities to give us course, entry, progression, attainment and retention information about SWAP students.</li>

<li>We may use the details on the registration form and use the information collected for research and monitoring purposes and to publish statistics.  These will be given only to Colleges, Universities, funding bodies and other educational establishments.   No information that could identify you as an individual will be published.</li>

<li>We may enter into dialogue and share the details of your SWAP registration form and UCAS form with the universities and colleges to which you apply at any time during the application cycle.  We do this only to clarify issues regarding your SWAP status or to resolve any admission issues relating to your offers from Universities.</li>
</ul>

<p>By agreeing to our data policy you give permission for us to use your information in this way</p>

<p>If you do not want us to share your information you will not be able to submit this on line and you must contact us (0131 650 6861) as you are still required to register as a SWAP student.</p>

<p>SWAP is a registered Data Controller and is fully compliant with the Principles and the other conditions set down in the Data Protection Act (DPA). Full details on SWAP’s Data Protection Policy and Retention Schedule are found on the links.</p>

    </div>
</div>

{% endblock %}
