{% extends "base.html" %}

{% block content %}

		<div id="content">
		<h2>{{ title }}</h2>
		<p>{{ content|safe }}</p>
		</div>
		
		<form action="" name="questionnaire" method="post">
		<fieldset>
	    {{ formdata.management_form }}
		<table>
			<tr>
	        {% for header in headers %}
				<td>{{ header }}</td>
			{% endfor %}
			    <!--<td>Delete</td>-->
			</tr>
	        {% for form in formdata.forms %}
	        	<tr>
				{% for field in form %}
					<td>
					{{ field }}
					{% if field.errors %}
					    {% for error in field.errors %}
					    <span class="error">{{ error|escape }}</span>
					    {% endfor %}
    				{% endif %}
					</td>
				{% endfor %}
				</tr>
	        {% endfor %}
		</table>
		
        <input class="addButton" type="submit" name="submit" value="Add another" />

		<input class="navButton" type="submit" name="submit" value="Previous" />
		<input class="navButton" type="submit" name="submit" value="Next" />

		</fieldset>
		</form>

{% endblock %}

