{% extends "base.html" %}

{% block content %}

<script>
jQuery(document).ready(function() {    

    $("[data-required]").attr('data-required-message',"");

    // add a datepicker to all datepicker classes
    // need to amend when is a recent date
    var opts = {
        yearRange: "-22:+0",
        inline: true,
        dateFormat: 'dd/mm/yy',
        defaultDate: '-17y',
        minDate: '-22y',
        maxDate: '-12y',
        changeYear: true
    }
    $('.datepicker').datepicker(opts);
    
    // hide survey sections and add prev/next nav-throughs
    var doprevnext = function(event) {
        event.preventDefault();
        // TODO: validate the currently visible parts
        $('#survey').parsley('validate');
        $('.part').hide();
        $(this).hasClass('prev') ? $(this).closest('.part').prev().show() : $(this).closest('.part').next().show();
    }
    var prevnext = '<div style="margin:20px 0 20px 0;"><button class="btn btn-info prev">previous</button> <button class="btn btn-info next">next</button></div>';
    $('.part').append(prevnext);
    $('.part:first').find('.prev').remove();
    $('.part:last').find('.next').remove();
    $('.prev').bind('click',doprevnext);
    $('.next').bind('click',doprevnext);
    $('.part').hide();
    $('.part:first').show();

    // review button show all
    var showall = function(event) {
        event.preventDefault();
        $('.part').show();
    }
    $('.review').bind('click',showall);

    // add / remove rows to list items
    var first = true;
    $('table.multi').find('tbody').children('tr').each(function() {
        $(this).children('td').first().prepend('<a class="btn btn-warning delete-row" style="margin:-10px 2px 0 0;" href="#">delete</a>').children('select, input').addClass('narrow');
    });
    $('table.multi').find('tbody').append('<tr><td><a class="btn btn-success add-row" href="#">add</a></td></tr>');

    var addrow = function(event) {
        event.preventDefault();
        $(this).closest('tr').siblings().length == 5 ? $(this).hide() : false;
        if ( $(this).closest('tr').siblings().length < 6 ) {
            var row = $(this).closest('tr').prev().clone(true).get(0);
            $(row).insertBefore($(this).closest('tr'));
            $(row).find('.delete-row').bind('click',deleterow);
        }
    }
    var deleterow = function(event) {
        event.preventDefault();
        var row = $(this).closest('tr').clone(true).get(0);
        $(this).closest('tr').siblings().length == 6 ? $(this).closest('tr').siblings().find('.add-row').show() : false;
        $(this).closest('tr').siblings().length == 1 ? $(row).insertBefore($(this).closest('tr')) : false;
        $(this).closest('tr').remove();
    }
    $('.add-row').bind('click',addrow);
    $('.delete-row').bind('click',deleterow);

});
</script>

<style>
.part .well{
    margin-top:50px;
}
.part .hero-unit{
    margin-top:50px;
}
.narrow{
    width:180px;
}
.narrow.datepicker{
    width:100px;
}
input, textarea {
    width:200px;
}
select {
    width:210px;
}
.add-row, .delete-row {
    width:35px;
}
textarea.bigfield{
    width:400px;
    height:150px;
}
input.bigfield{
    width:360px;
    height:150px;
}
</style>

<form action="" id="survey" name="survey" method="post" data-validate="parsley">
<fieldset>


<!-- the intro part -->
<div class="part intro">

	<div class="row-fluid">
	    <div class="span12">
	        <div class="well">
	            <h1>Welcome to the LEAPS student survey</h1>
	        </div>
	    </div>
	</div>

	<div class="row-fluid">
	    <div class="span12">
	        <p>This survey contains six parts. You must complete every part in order to successfully save your responses. It should take no more than 30 minutes to complete, if you prepare in advance. Please have details of your qualifications, personal interests, work experience, and possible University or College applications to hand before you start this survey.</p>
	        <p><strong>DO NOT CLOSE YOUR BROWSER WHILST COMPLETING THE SURVEY.</strong></p>
	        <p>Only the students of <strong>participating schools</strong> can complete the survey.</p>
	        <p>Each part presents <strong>instructions at the top</strong> on how to complete the questions in that part.</p> 
	        <p>Some fields will offer <strong>suggestions as you type</strong>. Choose a suitable suggestion if one is presented, otherwise 
	        continue to type and your text will be accepted.</p>
	        <p>If you need to <strong>insert extra rows</strong>, press <strong>add</strong> to get another row, up to the maximum of 6.</p>
	        <p>If you want to <strong>delete a row</strong>, press <strong>delete</strong> to remove the row.</p>
	        <p>Required inputs are shown in red, until they are completed appropriately, when they will become green. You should check that all required inputs are green before proceeding. Inputs that are optional remain white.</p>
	        <p>You can navigate between parts using the <strong>Previous</strong> or <strong>Next</strong> buttons.</p>
	        <p>At the end of the form you will be directed to review your responses and you will not be able to submit until all the required questions have been answered.</p>
        </div>
	</div>

</div>



<!-- the student details page -->
<div class="part student">

	<div class="row-fluid">
	    <div class="span12">
	        <div class="well">
	            <h2>Your details</h2>
	            <p><strong>Part 1 of 6</strong> - please provide your personal details below, to create your record.</p>
	        </div>
	    </div>
	</div>

	<div class="row-fluid">
	    <div class="span12">		
	        <table>
	            <tbody>
        	        <tr>
	                    <td style="text-align:right;padding:6px 10px 0 0;">First name</td>
                		<td><input type="text" name="first_name" data-required="true"></td>

	                    <td style="text-align:right;padding:6px 10px 0 100px;">Last name</td>
                		<td><input type="text" name="last_name" data-required="true"></td>
                    </tr>
        	        <tr>
	                    <td style="text-align:right;padding:6px 10px 0 0;">Date of birth</td>
                		<td><input type="text" class="datepicker" name="date_of_birth" data-required="true" data-trigger="keyup change focusout"></td>

	                    <td style="text-align:right;padding:6px 10px 0 100px;">UCAS number</td>
                		<td><input type="text" name="ucas_number"></td>
                    </tr>
        	        <tr>
	                    <td style="text-align:right;padding:6px 10px 0 0;">School</td>
                		<td><select name="school" data-required="true">
                		    <option></option>
                		    {% for opt in selections.schools %}
                		        <option>{{ opt }}</option>
                		    {% endfor %}
                		</select></td>

	                    <td style="text-align:right;padding:6px 10px 0 100px;">School house</td>
                		<td><input type="text" name="school_house"></td>
                    </tr>
        	        <tr>
	                    <td style="text-align:right;padding:6px 10px 0 0;">Year group</td>
                		<td><select name="year" data-required="true">
                		    <option></option>
                		    {% for opt in selections.years %}
                		        <option>{{ opt }}</option>
                		    {% endfor %}
                		</select></td>

	                    <td style="text-align:right;padding:6px 10px 0 100px;">Gender</td>
                		<td><select name="gender">
                		    <option></option>
                		    <option>Male</option>
                		    <option>Female</option>
                		</select></td>
                    </tr>
        	        <tr>
	                    <td style="text-align:right;padding:6px 10px 0 0;">Email address</td>
                		<td><input type="text" name="email" data-type="email" data-required="true" data-trigger="keyup focusout"></td>

	                    <td style="text-align:right;padding:6px 10px 0 100px;">Address</td>
                		<td><input type="text" name="address_line_1"></td>
                    </tr>
        	        <tr>
	                    <td style="text-align:right;padding:6px 10px 0 0;">Home phone</td>
                		<td><input type="text" name="home_phone"></td>

	                    <td style="text-align:right;padding:6px 10px 0 100px;">...</td>
                		<td><input type="text" name="address_line_2"></td>
                    </tr>
        	        <tr>
	                    <td style="text-align:right;padding:6px 10px 0 0;">Mobile phone</td>
                		<td><input type="text" name="mobile_phone"></td>

	                    <td style="text-align:right;padding:6px 10px 0 100px;">City</td>
                		<td><input type="text" name="city"></td>
                    </tr>
        	        <tr>
        	            <td></td>
        	            <td></td>

	                    <td style="text-align:right;padding:6px 10px 0 100px;">Region</td>
                		<td colspan="3"><input type="text" name="region"></td>
                    </tr>
        	        <tr>
	                    <td style="text-align:right;padding:6px 10px 0 0;">
	                        I agree to the <br>
                            <a target="_blank" href="/policy">LEAPS data policy</a>
	                    </td>
                		<td><select name="data_policy_agreement" data-required="true" data-inlist="Yes" data-inlist-message="You must agree in order to continue">
                		    <option></option>
                		    <option>Yes</option>
                		    <option>No</option>
                		</select></td>
                    
	                    <td style="text-align:right;padding:6px 10px 0 100px;">Post code</td>
                		<td><input type="text" name="post_code" data-required="true"></td>
                    </tr>
                </tbody>
	        </table>
	    </div>
	</div>

</div>



<!-- the qualifications page -->
<div class="part qualifications">

	<div class="row-fluid">
	    <div class="span12">
	        <div class="well">
	            <h2>Qualifications and currently sitting</h2>
	            <p><strong>Part 2 of 6</strong> - please provide details of your <strong>exam results to date AND subjects you are currently sitting</strong>. <br /><br />If you do not yet know your grade, select Unknown in the Grade field. If you have any qualifications that do not meet the criteria below, you will have the option to describe them on the following pages. Use one row per qualification.</p>
	        </div>
	    </div>
	</div>

	<div class="row-fluid">
	    <div class="span12">		
	        <table class="multi">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>School year taken</th>
                        <th>Level of qualification</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                		<td><select name="qualification_subject">
                		    <option></option>
                		    {% for opt in selections.subjects %}
                		        <option>{{ opt }}</option>
                		    {% endfor %}
                		</select></td>
                		<td><select name="qualification_year">
                		    <option></option>
                		    {% for opt in selections.years %}
                		        <option>{{ opt }}</option>
                		    {% endfor %}
                		</select></td>
                		<td><select name="qualification_level">
                		    <option></option>
                		    {% for opt in selections.levels %}
                		        <option>{{ opt }}</option>
                		    {% endfor %}
                		</select></td>
                		<td><select name="qualification_grade">
                		    <option></option>
                		    {% for opt in selections.grades %}
                		        <option>{{ opt }}</option>
                		    {% endfor %}
                		</select></td>
                    </tr>
                </tbody>
	        </table>
	    </div>
	</div>

</div>



        



<!-- the applications page -->
<div class="part applications">

	<div class="row-fluid">
	    <div class="span12">
	        <div class="well">
	            <h2>Potential Applications</h2>
	            <p><strong>Part 3 of 6</strong> - please list any applications for further or higher education that you are thinking of making. Use one row per application, up to the maximum of 6. If you have not made any decisions yet, please feel free to leave this section blank.</p>
	        </div>
	    </div>
	</div>

	<div class="row-fluid">
	    <div class="span12">		
	        <table class="multi">
                <thead>
                    <tr>
                        <th>College / University</th>
                        <th>Subject</th>
                        <th>Level of study</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                		<td><select name="application_institute">
                		    <option></option>
                		    {% for opt in selections.institutions %}
                		        <option>{{ opt }}</option>
                		    {% endfor %}
                		</select></td>
                		<td><select name="application_subject">
                		    <option></option>
                		    {% for opt in selections.subjects %}
                		        <option>{{ opt }}</option>
                		    {% endfor %}
                		</select></td>
                		<td><select name="application_level">
                		    <option></option>
                		    {% for opt in selections.advancedlevels %}
                		        <option>{{ opt }}</option>
                		    {% endfor %}
                		</select></td>
                    </tr>
                </tbody>
	        </table>
	    </div>
	</div>

</div>






        

<!-- the interests page -->
<div class="part interests">

	<div class="row-fluid">
	    <div class="span12">
	        <div class="well">
	            <h2>Interests and achievements</h2>
	            <p><strong>Part 4 of 6</strong> - please give brief descriptions of your extra-curricular interests and achievements e.g. sport, music, drama, Duke of Edinburgh, prefect etc. Use one box per interest, up to the maximum of 6.</p>
	        </div>
	    </div>
	</div>

	<div class="row-fluid">
	    <div class="span12">		
	        <table class="multi">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Brief Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                		<td><input type="text" name="interest_title"></td>
                		<td><textarea class="bigfield" name="interest_brief_description" data-maxwords="200" data-trigger="keyup focusout change"></textarea></td>
                    </tr>
                </tbody>
	        </table>
	    </div>
	</div>

</div>






        


<!-- the experience page -->
<div class="part experience">

	<div class="row-fluid">
	    <div class="span12">
	        <div class="well">
	            <h2>Work and other experience</h2>
	            <p><strong>Part 5 of 6</strong> - please give brief descriptions of any work or voluntary experience you have had e.g. paid employment, school committees, Pathways to Professions events. Use one row per experience, up to the maximum of 6.</p>
	        </div>
	    </div>
	</div>

	<div class="row-fluid">
	    <div class="span12">		
	        <table class="multi">
                <thead>
                    <tr>
                        <th>Date from</th>
                        <th>Date to</th>
                        <th>Job title</th>
                        <th>Brief Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                		<td><input type="text" class="datepicker narrow" name="experience_date_from"></td>
                		<td><input type="text" class="datepicker narrow" name="experience_date_to"></td>
                		<td><input type="text" class="narrow" name="experience_title"></td>
                		<td><textarea class="bigfield" name="experience_brief_description" data-maxwords="200" data-trigger="keyup focusout change"></textarea></td>
                    </tr>
                </tbody>
	        </table>
	    </div>
	</div>

</div>







<!-- the extra page -->
<div class="part extra">

	<div class="row-fluid">
	    <div class="span12">
	        <div class="well">
	            <h2>Additional academic and career information</h2>
	            <p><strong>Part 6 of 6</strong> - please provide information about any other factors that affected your academic achievements, and provide some details on your career goals and any plans you have made towards them.</p>
	        </div>
	    </div>
	</div>

	<div class="row-fluid">
	    <div class="span12">		
	        <table>
                <tbody>
        	        <tr>
	                    <td style="text-align:right;padding:6px 10px 0 0;">Did you make a late decision to consider higher education?</td>
                		<td><select name="late_decision_to_apply" data-required="true">
                		    <option></option>
                		    <option>No</option>
                		    <option>Yes</option>
                		</select></td>
                    </tr>
        	        <tr>
	                    <td style="text-align:right;padding:6px 10px 0 0;">Have you had a careers interview in the last 3 months?</td>
                		<td><select name="had_recent_careers_interview" data-required="true">
                		    <option></option>
                		    <option>No</option>
                		    <option>Yes</option>
                		</select></td>
                    </tr>
                    <tr>
                        <td style="text-align:right;padding:6px 10px 0 0;">List any additional qualifications not already mentioned</td>
                        <td><textarea class="bigfield" name="additional_qualifications"></textarea></td>
                    </tr>
                    <tr>
                        <td style="text-align:right;padding:6px 10px 0 0;">Describe any issues affecting academic performance</td>
                        <td><textarea class="bigfield" name="issues_affecting_performance"></textarea></td>
                    </tr>
                    <tr>
                        <td style="text-align:right;padding:6px 10px 0 0;">Please describe any career plans you may have</td>
                        <td><textarea class="bigfield" name="career_plans"></textarea></td>
                    </tr>
                </tbody>
	        </table>
	    </div>
	</div>

</div>







<!-- the form submission button -->
<div class="part submit">

	<div class="row-fluid">
	    <div class="span12">
	        <div class="hero-unit">
	            <h2>Ready to submit</h2>
	            <p>You cannot edit your responses once you submit them.</p>
	        </div>
	    </div>
	</div>

	<div class="row-fluid" style="margin-top:30px;">
	    <div class="span6">
	        <div class="alert alert-success">
            	<input class="btn btn-success span2" style="margin-left:100px;" type="submit" name="submit" value="Submit your survey" />
	        </div>
	    </div>
	    <div class="span6">
	        <div class="alert alert-warning clearfix">
        	    <p><button class="btn btn-warning span2 review" style="margin-left:100px;">Review your responses</button></p>
	        </div>
	    </div>
    </div>

</div>




</fieldset>
</form>

{% endblock %}


    

