{% include 'header.html' %}

		<div id="content">
		<p>Thank you very much for completing the interview form. Your input is greatly appreciated and will make your interview with 
		LEAPS staff quicker and easier.</p>
		<p>Our staff will review the information you have provided, and may contact you if further details are required.</p>
		<p>If you are completing this form using a PC in a public place, you should now take the recommended precautions to ensure nobody 
		else can access your session and the information you submitted. For example, close the internet browser and log off the PC.</p> 
		</div>

{% include 'footer.html' %}

