
{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="/admin">
        {% trans "Home" %}
      </a>
       &rsaquo; 
       <a href="/admin/leaps">
         Leaps
      </a>
      &rsaquo; 
      Documentation
    </div>
  {% endblock %}
{% endif %}

{% block content %}
  <div id="content-main">
    <div class="module" id="changelist">

		<ul>
		<li><a href="/sitemedia/docs/LEAPS_user_docs.pdf">LEAPS user documentation</a></li>
		<li><a href="/sitemedia/docs/LEAPS_quick_reference.pdf">LEAPS quick reference guide</a></li>
		</ul>


    </div>      
  </div>

{% endblock %}

