
{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="/admin">
        {% trans "Home" %}
      </a>
       &rsaquo; 
       <a href="/admin/leaps">
         Leaps
      </a>
      &rsaquo;
        Export
    </div>
  {% endblock %}
{% endif %}

{% block content %}
  <div id="content-main">
    <div class="module">

        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <input type="hidden" name="ct" value="{{ ct }}" />
        <input type="hidden" name="ctn" value="{{ ctn }}" />
        <input type="hidden" name="ids" value="{{ ids }}" />
        <input type="hidden" name="inst" value="{{ inst }}" />
        <input type="hidden" name="getall" value="{{ getall }}" />
        <input type="hidden" name="archive" value="{{ archive }}" />
        <input type="hidden" name="filetype" value="csv" />
        
        {% if inst %}
        <p>Exported results will only contain information relevant to {{ inst }}. <a href="/export/?ct={{ct}}&ids={{paeids}}">Clear this restriction</a>.</p>
        {% endif %}
        
<!--
        <p>Produce a pre-defined report:</p>
        <ul>
        <li><a href="">pre-def report</a></li>
        <li><a href="">other pre-def report</a></li>
        <li><a href="">etc</a></li>
        </ul>
-->
        {% if ctn == "student" or ctn == "pae" %}
            <p>Build a report by selecting items of data you want to include in the export:</p>
            <table>
                <tr>
                    <td rowspan="2">
                        <h2>Student: (<input type="checkbox" name="Student---all" value="Student---all" /> all)</h2>
                        <ul>
                            {% for item in fields.Student %}
                            <li><input type="checkbox" name="Student---{{ item }}" value="Student---{{ item }}" /> {{ item }}</li>
                            {% endfor %}
                        </ul>
                    </td>

                    <td rowspan="2">
                        <h2>Interview: (<input type="checkbox" name="Interview---all" value="Interview---all" /> all)</h2>
                        <ul>
                            {% for item in fields.Interview %}
                            <li><input type="checkbox" name="Interview---{{ item }}" value="Interview---{{ item }}" /> {{ item }}</li>
                            {% endfor %}
                        </ul>

                        <h2>Extra academic and career: (<input type="checkbox" name="ExtraAcademicAndCareer---all" value="ExtraAcademicAndCareer---all" /> all)</h2>
                        <ul>
                            {% for item in fields.ExtraAcademicAndCareer %}
                            <li><input type="checkbox" name="ExtraAcademicAndCareer---{{ item }}" value="ExtraAcademicAndCareer---{{ item }}" /> {{ item }}</li>
                            {% endfor %}
                        </ul>
                    </td>

                    <td>
                        <h2>INCLUDE:</h2>
                        <h2>Pae info: <input type="checkbox" name="Pae---all" value="Interview---all" /></h2>

                        <h2>Qualifications: <input type="checkbox" name="Qualification---all" value="Qualification---all" /></h2>

                        <h2>Applications: <input type="checkbox" name="Application---all" value="Application---all" /></h2>

                        <h2>Unavailable subjects: <input type="checkbox" name="UnavailableSubject---all" value="UnavailableSubject---all" /></h2>

                        <h2>Interests: <input type="checkbox" name="Interest---all" value="Interest---all" /></h2>

                        <h2>Work experience: <input type="checkbox" name="WorkExperience---all" value="WorkExperience---all" /></h2>

                    </td>

                </tr>

            </table>
        {% endif %}
        
        {% if ctn == "application" %}
            <p>Select which items of data you want to include in the export</p>
            <table>
                <tr>
                    <td>
                        <h2>Applications: (<input type="checkbox" name="Application---all" value="Application---all" /> all)</h2>
                        <ul>
                            {% for item in fields.Application %}
                            <li><input type="checkbox" name="Application---{{ item }}" value="Application---{{ item }}" /> {{ item }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        {% endif %}

        <p><br />
		<input class="navButton" type="submit" name="submit" value="Export" /> - save to your PC
		</p>

		<p>To email this report to someone, first click export then save to your local PC and choose where to save it.<br />
		Alternatively, choose to open it - the filetype will be "csv", and is openable by spreadsheet software such as Microsoft Excel or OpenOffice, 
		and also by most text editors such as Notepad - then do some editing, and subsequently save to your PC.<br />
		Once saved to your PC and edited as required, open your usual email system and start a new email to your desired recipient;
		then add the file as an attachment as normal.</p>
        </form>

    </div>
  </div>

{% endblock %}
