
{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="/admin">
        {% trans "Home" %}
      </a>
       &rsaquo; 
       <a href="/admin/leaps">
         Leaps
      </a>
      &rsaquo;
      {% if model_name == "NONE" %}
          Import
      {% else %}
          {{ model_name }}
      {% endif %}
    </div>
  {% endblock %}
{% endif %}

{% block content %}
  <div id="content-main">
    <div class="module">

        {% if model_name == "Interview" %}
            <p><a href="/sitemedia/docs/LEAPS_importing_interview_data.pdf">View Interview data import notes</a></p>
            <p><a href="/sitemedia/docs/interview_upload_form.csv">View Interview data csv file example</a></p>
        {% endif %}

        {% if model_name == "NONE" %}
        <p>Which type of data do you want to import?</p>
        <ul>
        <li><a href="/import/Ethnicitys">ethnicities</a></li>
        <li><a href="/import/Grades">grades</a></li>
        <li><a href="/import/Institutes">institutes</a></li>
        <li><a href="/import/Languages">languages</a></li>
        <li><a href="/import/Nationalitys">nationalities</a></li>
        <li><a href="/import/Occupations">occupations</a></li>
        <li><a href="/import/Schools">schools</a></li>
        <li><a href="/import/Advanced study levels">advanced study levels</a></li>
        <li><a href="/import/School study levels">school study levels</a></li>
        <li><a href="/import/Year groups">year groups</a></li>
        <li><a href="/import/Interviews">interviews</a></li>
        </ul>
        {% else %}
        <p>You have chosen to upload some records into the {{ model_name }} dataset.</p>
        <p>Your upload file must be a comma separated value list (.csv) &mdash; software such as MS Excel can save spreadsheets as this type.</li>

        <p>The first row must contain column headers that identify the data in that column. The headers must 
        match the fields available in the data type you are uploading to. The only exemption is if you are uploading a list 
        of values to a dataset that only contains one data type (for example a list of grades to the Grade dataset) &mdash; 
        in which case a csv file with just one value per line and no headers will also be accepted.</p>

		<p>{{ model_name }} records can include the following fields (<strong>bold</strong> fields are required):</p>
		<ul>
        {% if model_name == "Interview" %}
            <li><strong>first_name</strong></li>
            <li><strong>last_name</strong></li>
            <li><strong>date_of_birth</strong></li>
        {% endif %}
		{% for field in modelfields %}
		    {% if model_name == "Interview" and field == "student" %}
		    {% else %}
    		<li>{% if field in reqfields %}<strong>{% endif %}{{ field }}{% if field in reqfields %}</strong>{% endif %}</li>
    		{% endif %}
        {% endfor %}
        </ul>

        {% if model_name == "Interview" %}
        <p>NOTE &mdash; for Interview data uploads, the student you are uploading interview data for must already exist in the system.
        If the upload fails unexpectedly, use the admin panel to check that a student exists with the same first_name, last_name and 
        date_of_birth as that supplied in the records.</p> 
        {% endif %}

        <p>&nbsp;</p>

        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <p>
			{% for field in form %}
				{{ field.label_tag }}: {{ field }}
				{% if field.errors %}
					{% for error in field.errors %}
					<span class="error">{{ error|escape }}</span>
					{% endfor %}
				{% else %}
					<span class="help">{{ field.help_text }}</span>
				{% endif %}
	        {% endfor %}
		</p>
		<p><input class="navButton" type="submit" name="submit" value="Import" /></p>
        </form>
        {% endif %}

    </div>
  </div>

{% endblock %}
