
{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="/admin">
        {% trans "Home" %}
      </a>
       &rsaquo; 
       <a href="/admin/leaps">
         Leaps
      </a>
      &rsaquo; 
      {{ model_name }}
    </div>
  {% endblock %}
{% endif %}

{% block content %}
  <div id="content-main">
    <div class="module">

    {% if filetype == "invalid" %}
    
        <p>The file type you uploaded is not valid. The accepted types are csv or xml.</p>
        <p>You can choose to save an excel file as csv via the <strong>save as</strong> menu in MS Excel.</p>
        <p>There are downloadable sample files of each data type on the <a href="/import">import</a> pages.</p> 

    {% else %}
    
        {% for item in missed_reqs %}
            {% if forloop.first %}
                <p>Your upload file was missing the following required fields:</p>
                <ul>
            {% endif %}
            <li>{{ item }}</li>
            {% if forloop.last %}
                </ul>
                <p>Please alter your upload file to make it valid and try again.</p>
            {% endif %}            
        {% endfor %}

        {% for item in student_not_found %}
            {% if forloop.first %}
                <p>A record could not be found in the LEAPS survey database for the following students (or an error in the data cause the import to fail):</p>
                <table>
                <tr>
                {% for key,value in item.items %}
                    {% if forloop.first %}
                        <th>{{ key }}</th>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endif %}
            <tr>
            {% for key,value in item.items %}
                <td>{{ value }}</td> 
            {% endfor %}
            </tr>
            {% if forloop.last %}
                </table>
                <p>These records have not been saved to the database.</p>
                <p>Please ensure that interview details are only uploaded for students that have already submitted interviews.</p>
            {% endif %}            
        {% endfor %}

        {% for item in invalid_fields %}
            {% if forloop.first %}
                <p><br /><br />The following rows contained fields that are not valid in the dataset you are uploading:</p>
                <table>
                <tr>
                {% for key,value in item.items %}
                    {% if forloop.first %}
                        <th>{{ key }}</th>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endif %}
            <tr>
            {% for key,value in item.items %}
                <td>{{ value }}</td> 
            {% endfor %}
            </tr>
            {% if forloop.last %}
                </table>
                <p>These records have not been saved to the database.</p>
                <p>Please ensure that csv upload files contain valid column headers and valid rows of data.</p>
            {% endif %}            
        {% endfor %}

        {% for item in save_fail_report %}
            {% if forloop.first %}
                <p><br /><br />The following rows could not be saved:</p>
                <table>
                <tr>
                {% for key,value in item.items %}
                    {% if forloop.first %}
                        <th>{{ key }}</th>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endif %}
            <tr>
            {% for key,value in item.items %}
                <td>{{ value }}</td>
            {% endfor %}
            </li>
            {% if forloop.last %}
                </table>
                <p>These records have not been saved to the database.</p>
                <p>Please check their validity and try them again.</p>
            {% endif %}            
        {% endfor %}

        {% for item in save_success_report %}
            {% if forloop.first %}
                <p><br /><br />The following rows were saved to the database, or already existed in the database:</p>
                <table>
                <tr>
                {% for key,value in item.items %}
                    <th>{{ key }}</th>
                {% endfor %}
                </tr>
            {% endif %}
            <tr>
            {% for key,value in item.items %}
                <td>{{ value }}</td>
            {% endfor %}
            </tr>
            {% if forloop.last %}
                </table>
            {% endif %}
        {% endfor %}

        {% for item in results %}
            {% if forloop.first %}
                <p>The following rows were saved to the database, or already existed in the database:</p>
                <table>
                <tr>
                {% for key,value in item.items %}
                    {% if forloop.first %}
                        <th>{{ key }}</th>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endif %}
            <tr>
            {% for key,value in item.items %}
                <td>{{ value }}</td>
            {% endfor %}
            </tr>
            {% if forloop.last %}
                </table>
            {% endif %}            
        {% endfor %}
        
    {% endif %}


    </div>
  </div>

{% endblock %}
