{% include 'header.html' %}

		<div id="content-left">
		
		<h2>Lothians Equal Access Programme for Schools</h2>
		
		<p>We support talented young people in South East Scotland providing them with information and encouragement to apply to higher education. We work with schools in the region, targeting young people with little or no family experience of higher education or those who may have experienced adverse social and/or economic circumstances.</p>
		
		<p>Support for the UCAS process begins with eligible students completing our <a class="inline" href="/survey">online survey form</a>. 
		Providing as much detail as possible at this stage increases the benefit of any forthcoming face to 
		face interview. All data is collected and stored securely, and used only in accordance with our 
		<a class="inline" href="/policy">data policy</a>.</p>
		
        </div>

        <div id="content-right">
        
		<div id="start">
		<a href="/survey">Complete our survey</a><br />
		</div>

		</div>
		
{% include 'footer.html' %}

