{% include 'header.html' %}

<script type="text/javascript">
    jQuery(document).ready(function () {
        var verify = function(event) {
            var considerations = false
            $('.considerations').each(function() {
                if ( $(this).val() ) {
                    considerations = true
                }
            })
            if ( $('#submitter_name').val() == '' || !considerations ) {
                event.preventDefault()
                alert('You must provide a response and your name before submitting')
            }
        }
        $('#submit').bind('click',verify)
    })
</script>


		<div id="content">

        <p>Please use this form to provide your responses to this Pre-Application Enquiry,
        using the information in the corresponding PDF form to assist in making your decision.
        No information will be saved until you click the submit button at the bottom of this page.</p>

        <form id="paeform" method="POST">
        <table>
        <tr>
        <td><span style="font-weight:bold;">First name</span> of student (as shown on PAE form) : </td><td><input type="text" name="first_name" /></td>
        </tr>
        <tr>
        <td><span style="font-weight:bold;">Last name</span> of student (as shown on PAE form) : </td><td><input type="text" name="last_name" /></td>
        </tr>
        </table>

        <p>(First and last names must match correctly for your responses to be accepted.)</p>

        <p>If the applicant applies through UCAS for the course(s) below, please indicate what the academic conditions
        are likely to be, if you were to consider making an offer. Where more than one potential application is listed, 
        please answer only for those applications within your area of responsibility.</p>

        <p><strong>Please note that the actual wording you enter here will appear on the students PAE reply.</strong></p>

        <table>
        <tr>
        <th>Potential applications</th><th>Would you consider <br />this student?</th>
        <th>Please indicate conditions <br />of any likely offer, or reasons for no offer</th>
        </tr>
        {% for app in applications %}
            {% if app.pae_reply_received == None %}
                <tr>
                <td style="text-align:center;">{{ app.institute }} - {{ app.subject }} {{ app.level }}</td>
                <td style="text-align:center; padding:0 30px 0 30px;">
                    <select class="considerations" name="{{ app.id }}_consider">
                        <option></option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <td style="text-align:center;"><textarea name="{{ app.id }}_conditions"></textarea></td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
        
        <p style="font-weight:bold;">Please provide some information about yourself and your institution to confirm this submission.
        Please note that your name and contact details will not appear on the students PAE reply.</p>
        
        <table>
        <tr><td style="text-align:right;padding:0 10px 0 0;width:65%;">Your name : </td><td><input id="submitter_name" type="text" name="submitter_name" /></td></tr>
        <tr><td style="text-align:right;padding:0 10px 0 0;">Your position : </td><td><input type="text" name="submitter_position" /></td></tr>
        <tr><td style="text-align:right;padding:0 10px 0 0;">Your email : </td><td><input type="text" name="submitter_email" /></td></tr>
        <tr><td style="text-align:right;padding:0 10px 0 0;">Your telephone number : </td><td><input type="text" name="submitter_tel" /></td></tr>
        </table>

        <p>Would you be willing to consider LEAPS Summer School reports as an indication of potential to succeed, should the student fail to meet the conditions set?
        (Please note that LEAPS partner institutions have pledged to take Summer School reports into account. If you are from a LEAPS partner institution you MUST tick this box.)
        <input type="checkbox" name="accept_ss" value="yes" /></p>
        
        <input type="hidden" name="ident" value="{{ ident }}" />
        <input id="submit" class="navButton" style="text-align:center;font-size:2em;width:350px;font-weight:bold;margin:30px 0 80px 200px;" type="submit" name="submit" value="submit your responses" />
        </form>

        <!--
        <p style="font-size:95%;">NOTE: admissions staff at LEAPS partner Universities pledge to make offers to LEAPS eligible applicants if at all
        possible. Students should be asked to meet the usual minimum offer, even if this means setting tough conditions.
        Please bear in mind that the LEAPS Summer School affords students with conditional offers an additional opportunity to demonstrate their
        potential to succeed on their chosen degree course should they fail to meet these conditions.
        This could include academic and non-academic conditions e.g. portfolio, relevant experience, audition, interview.</p>
        -->
        
		</div>
		
        
        
{% include 'footer.html' %}

