
{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="/admin">
        {% trans "Home" %}
      </a>
       &rsaquo; 
       <a href="/admin/leaps">
         Leaps
      </a>
      &rsaquo;
        Prepare PAE
    </div>
  {% endblock %}
{% endif %}

{% block content %}

<script type="text/javascript">
    jQuery(document).ready(function () {
        var teachercontent = $('#emailcontent').val()
        var studentcontent = 'Dear Student, \n\n\
Pre-Application Enquiry (PAE) Response \n\n\
Following your LEAPS interview, we raised a Pre-Application Enquiry (PAE) with a university on \
your behalf. We asked whether or not they are likely to make you an offer for the course you are \
interested in, based on your qualifications to date. \n\n\
Please see the attached document for full details of their response. Make sure that you read \
everything carefully. Take time to check that all your qualifications are correct – the university’s response is based on your qualifications as listed.\n\n\
This Pre-Application Enquiry (PAE) is a guide for you. Its purpose is to help you make the best use \
of your five UCAS choices by giving you an indication of how universities are likely to view your \
application. \n\n\
If the university has said no, it will not be worthwhile making the same choice on your UCAS \
application. Pay attention to the reasons given for this response and make use of any comments \
when you come to make your final UCAS choices. \n\n\
If the university has said yes – great news! However do bear in mind that this is NOT a formal offer \
of study, nor does it guarantee that you will receive an offer. You still need to apply through UCAS \
and admissions tutors will take into account all of the information on your application. This includes \
your personal statement, academic reference and predicted grades. Competition for places will also \
be a factor as demand tends to fluctuate from year-to-year. \n\n\
If you have any questions at all regarding your PAE response, please contact us on LEAPS@ed.ac.uk \
or 0131 650 4676. We have copied this email to your school so that you can also discuss any \
concerns with your guidance teacher or UCAS co-ordinator. \n\n\
Kind regards, \n\
The LEAPS team \n\n\
***Please note you will receive a separate email for each course we have enquired about. Responses \
may be received at different times.***'

        var tostudent = function(event) {
            event.preventDefault()
            if ( $(this).hasClass('toteacher') ) {
                $('#emailcontent').html(teachercontent)
                $('#tostudent').html('switch to student template')
                $(this).removeClass('toteacher')
            } else {
                $('#emailcontent').html(studentcontent)
                $('#tostudent').html('switch to admissions tutor template')
                $(this).addClass('toteacher')
            }
        }
        $('#tostudent').bind('click',tostudent)
    })
</script>

  <div id="content-main">
    <div class="module">

<!--
We need the PDF to populate with answers once the PAE reply has been received.  Mark is working on this.
Mark is also working on the e-mail that PAE responses will be attached to, to send to the student and link teacher.  There will be standard wording, possibly alerting unis which course(s) the PAE is for.  Check the likelihood of this.  Additional wording may be added to the email – for example to ask specific questions.
Once we have the PDF populated with answers from the uni, when this is sent back to the student will it still contain the link?  Could the student potentially go to the webpage, fill it in and create a dummy PAE response? - ONCE COMPLETED, PAGE IS EMPTY
add to cover email - if more than one subject on the PAE - 
    "this PAE includes potential applications for X, Y and Z subjects."
    "please forward this email to all relevant departmental representatives to complete for the relevant potential applications"
-->
        
        <h3>Prepare PAE form for {{ paeobj.student }}</h3>
        <p></p>
        
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" name="pae" value="{{ pae }}" />
            <p>Include PAE feedback that has been already received? <input type="checkbox" name="populate" value="yes" /></p>
            <p>Include PAE response link / LEAPS response address on form? <input type="checkbox" name="link" value="yes" checked /></p>

            <p>Print the PAE form <input type="checkbox" name="print" /></p>
            <p>OR email the PAE form <input type="checkbox" name="email" /></p>

            <p>If emailing, provide a recipient address <input type="text" name="emailaddress" /> (or multiple recipients, separated by commas)</p>
            <p>If emailing, edit content of email:</p>
            <p>( <a id="tostudent" href="">switch to student template</a> )</p>
            <p>
            <textarea id="emailcontent" name="content" style="width:700px;height:300px;">{{ message }}</textarea>
            </p>
            
            <p><input type="submit" name="submit" value="submit" /></p>
        </form>

    </div>
  </div>

{% endblock %}
