{% include 'header.html' %}

		<div id="content">
		<h2>{{ title }}</h2>
		<p>{{ content|safe }}</p>
		</div>
		
		<form action="" name="questionnaire" method="post">
		<fieldset>
		
		<table>
			{% for field in formdata %}
        	<tr>
				<td>{{ field.label_tag }}</td><td>{{ field }}</td>
        		<td><span class="help">{{ field.help_text|safe }}</span></td>
				{% if field.errors %}
					{% for error in field.errors %}
					<td><span class="error">{{ error|escape }}</span></td>
					{% endfor %}
				{% endif %}
			</tr>
	        {% endfor %}
		</table>

		<input class="navButton" type="submit" name="submit" value="Previous" />
		{% if title == "Additional academic and career information" %}
    		<input class="navButton" type="submit" name="submit" value="Submit" />
        {% else %}
    		<input class="navButton" type="submit" name="submit" value="Next" />
        {% endif %}

		</fieldset>
		</form>


{% include 'footer.html' %}

