{% include 'header.html' %}

        <div id="content">

		<h2>Reports (under construction)</h2>
        
        </div>

		<div id="content-left">
		    <h3>{% if charttype == "all surveys" %}Total surveys received: {{ number_submitted }}
		    {% else %}{% if charttype == "surveys by school" %}Surveys received by school attended
		    {% else %}{% if charttype == "surveys by application" %}Surveys received by further education institute applied for
		    {% endif %}{% endif %}{% endif %}</h3>
            <img class="chart" src="{{ mainchart }}" alt="LEAPS chart output" title="LEAPS chart output" >
	
        </div>

        <div id="content-right">
        
            <form action="" method="POST">
<!--                    <select name="school">
                        {% for school in school_selects %}
                        <option value="{{ school }}">{{ school }}</option>
                        {% endfor %}
                    </select>
                    <select name="institute">
                        {% for institute in institute_selects %}
                        <option value="{{ institute }}">{{ institute }}</option>
                        {% endfor %}
                    </select>
-->    		<input class="chartButton" type="submit" name="survey" value="all surveys" />
    		<input class="chartButton" type="submit" name="survey" value="surveys by school" />
    		<input class="chartButton" type="submit" name="survey" value="surveys by application" />
            </form>

		</div>

        <div id="content-left">
        
        <h3>Geographic distribution of surveys</h3>
        <img class="chart" src="{{ geochart }}" alt="LEAPS geo output" title="LEAPS chart output" >
        <p>this can show geographic location of students that have submitted so far, precise to post code</p>
        </div>

        <div id="content-right">
        
        <p>offer download of anonymised datasets here, or perhaps login to get full datasets</p>
        
        </div>

        <div id="content">
        
        <p>More specific reports are available <a class="inline" href="http://leapsonline.org/contact.html">on request</a>.</p>
        
        </div>
		
{% include 'footer.html' %}

