{% include 'header.html' %}

{% load mytags %}

		<div id="content">


        {% if fail %}
            {% if fail == 'wrong' %}
                <p>Sorry, the details you supplied were incorrect. <a href="/schools">Please go back and try again</a></p>
            {% endif %}
            {% if fail == 'disabled' %}
                <p>Sorry, checking has not been enabled for you yet. Please contact us for more information.</p>
            {% endif %}
            {% if fail == 'details' %}
                <form method="POST">
                <p>Please identify your school:</p>
                <select name="schoolname">
                <option></option>
                {% for school in allschools %}
                    <option>{{ school.name }}</option>
                {% endfor %}
                </select>
                <p>Please provide your passphrase:</p>
                <input type="password" name="passphrase" /><br /><br />
                <input type="submit" name="submit" value="submit" />
                </form>
            {% endif %}
        {% else %}
            <h3>Student submissions to LEAPS survey for {{ school }}</h3>
            {% if students %}
                <p>The following students have submitted a form to LEAPS already:</p>
                <table>
                <tr>
                <td><strong>Student</strong></td><td style="padding-left:40px;"><strong>School house</strong></td><td style="padding-left:40px;"><strong>Interview status</strong></td>
                </tr>
                {% for student in students %}
                    <tr>
                    <td>{{ student.last_name }} {{ student.first_name }} ({{ student.date_of_birth|mdate }})</td>
                    <td style="padding-left:40px;">{{ student.school_house }}</td>
                    <td style="padding-left:40px;">{{ student.status }}</td>
                    </tr>
                {% endfor %}
                </table>        
            {% else %}
                <p>Sorry, we have no record of students from your school submitting an application.</p>
            {% endif %}
            <h3><br /><br />Logout</h3>
            <p>Once you are finished reviewing, please logout of this page and close your browser.</p>
            <p><a class="navButton" href="/">Logout now</a></p>
        {% endif %}


		</div>
		
        
        
{% include 'footer.html' %}

