{% include "head.html" %}

<body>

<script type="text/javascript">
jQuery(document).ready(function($) {
    var adminsettings = function(event) {
        var settings = {};
        $('.adminsettings').each(function() {
            var key = $(this).attr('name');
            var value = false;
            $('[name="' + key + '"]').is(':checked') ? value = true : "";
            settings[key] = value;
        });
        $.ajax({
            url: "/admin/settings",
            type: 'POST',
            data: JSON.stringify(settings),
            contentType: "application/json; charset=utf-8", 
            dataType: "JSON",
            processData: false,
            success: function(data, statusText, xhr) {
                var msg = '<div class="alert alert-success fade in" data-alert="alert">';
                msg += '<a class="close" data-dismiss="alert" href="#">&times;</a>';
                msg += 'Settings updated.';
                msg += '</div>';
                $('.alert-messages').html(msg);
            },
            error: function(xhr, message, error) {
                alert("Error... " + error)
            }
        });
    }
    $('.adminsettings').bind('change',adminsettings);
});
</script>

    <div id="blueheader" style="z-index:100000;position:fixed;top:0;margin:0;padding:0;height:190px;background:url(/static/back_banner.png) repeat-x;background-color:#333333;width:100%;">
        <div class="container-fluid" style="width:1000px;margin:20px auto 0 auto;">
            <div class="row-fluid navopts">
                <div class="span3">
                    <div class="well" style="height:55px;">
                        {% if current_user.is_super %}
                            <p style="margin-top:-10px;">
                                <a style="font-size:14px;" href="/admin">SWAP super admin</a>
                            </p>
                            <p style="text-align:right;margin-top:-10px;">
                                <a style="font-size:14px;" href="/account">Manage users</a><br>
                                Enable registration: <input type="checkbox" name="survey" class="adminsettings" 
                                {% if adminsettings %}
                                {% if adminsettings.survey %}
                                checked="checked"
                                {% endif %}
                                {% endif %}
                                ><br>
                                <!--Enable unis / colleges: <input type="checkbox" class="adminsettings" name="schools_unis" 
                                {% if adminsettings %}
                                {% if adminsettings.schools_unis %}
                                checked="checked"
                                {% endif %}
                                {% endif %}
                                >-->
                            </p>
                        {% else %}
                            <h1 style="padding-top:5px;"><a style="font-size:22px;" href="/admin">SWAP admin</a></h1>
                        {% endif %}
                    </div>
                </div>
                <div class="span2">
                    <a class="btn" href="/admin/student">Manage registrations</a>
                    <a class="btn" href="/admin/data">Manage supporting data</a>
                    <a class="btn" href="/admin/archive">Manage data archives</a>
                </div>
                <div class="span7">
                    {% block options %}{% endblock %}
                </div>
            </div>

            <div class="alert-messages">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {%if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{category}} fade in" data-alert="alert">
                  <a class="close" data-dismiss="alert" href="#">&times;</a>
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            {% endwith %}
            </div>

        </div>
    </div>

    <div class="container-fluid" style="width:1000px;margin:20px auto 0 auto;">

        <div class="well content" style="margin-top:160px;background-color:white;">    
            {% block content %}{% endblock %}
        </div> <!-- /content -->

        <div class="well">
            {% include "footer.html" %}
        </div>

    </div> <!-- /container -->

  </body>
</html>
