{% extends "swap/admin/admin-base.html" %}

{% block options %}
    <a class="btn {% if model=="course" %}btn-success{% endif %}" data-type="course" href="/admin/data/course">Courses</a>
    <a class="btn {% if model=="simd" %}btn-success{% endif %}" data-type="simd" href="/admin/data/simd">SIMD</a>
    <a class="btn btn-primary addnew" href="#">Add new <span id="newtype" class="newtype">{{model}}</span></a>
{% endblock %}

{% block content %}

<script type="text/javascript">
jQuery(document).ready(function($) {

    $('.suggests').each(function() {
        var selections = {{selections|tojson|safe}};
        var type = $(this).attr('name');
        $(this).autocomplete({
            'source':selections[type],
            'minLength':0
        });
    });

});
</script>

<style type="text/css">
input{
    width:400px;
}
</style>

<div class="row-fluid" style="margin-bottom:10px;">
    <div class="span12">
        <h1>Manage supporting data - {% if not record %} new {% endif %}{{ model }}</h1>
    </div>
</div>

<form action="" id="datamodel" name="datamodel" method="POST" data-validate="parsley">

{% if current_user.do_admin %}
<div class="row-fluid">
    <div class="span12">
       	<p style="text-align:right;"><input class="btn btn-success" type="submit" name="submit" value="Save"></p>
    </div>
</div>
{% endif %}

<div class="row-fluid">
    <div class="span12" id="formholder">
        <table>
            <tbody>


            {% if model == "course" %}
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 0;width:250px;">course</td>
            		<td><input class="suggests" type="text" name="course" data-required="true"
            		{% if record %} value="{{record.data.course}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">at college</td>
            		<td><input class="suggests" type="text" name="college"
            		{% if record %} value="{{record.data.college}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">on campus</td>
            		<td><input class="suggests" type="text" name="campus"
            		{% if record %} value="{{record.data.campus}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">college region</td>
            		<td><input class="suggests" type="text" name="region"
            		{% if record %} value="{{record.data.region}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">SWAP locale</td>
            		<td><select name="locale">
            		    <option></option>
            		    <option {% if record %}{% if record.data.locale.lower() == "east" %} selected="selected"{% endif %}{% endif %}>East</option>
            		    <option {% if record %}{% if record.data.locale.lower() == "west" %} selected="selected"{% endif %}{% endif %}>West</option>
            		</select>
            		</td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">course classification</td>
            		<td><input class="suggests" type="text" name="classification"
            		{% if record %} value="{{record.data.classification}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">college previous names</td>
            		<td><input type="text" name="previous_name"
            		{% if record %} value="{{','.join(record.data.previous_name)}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">disabled</td>
            		<td><input type="checkbox" name="disabled" style="margin-top:8px;margin-bottom:8px;"
            		{% if record %}{% if record.data.disabled %} checked="checked"{% endif %}{% endif %}
            		></td>
                </tr>

            {% elif model == "simd" %}

    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">Post code</td>
            		<td><input type="text" name="post_code"
            		{% if record %} value="{{record.data.post_code}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">SIMD Rank</td>
            		<td><input type="text" name="simd_rank"
            		{% if record %} value="{{record.data.simd_rank}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">SIMD Quintile</td>
            		<td><input type="text" name="simd_quintile"
            		{% if record %} value="{{record.data.simd_quintile}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">SIMD Decile</td>
            		<td><input type="text" name="simd_decile"
            		{% if record %} value="{{record.data.simd_decile}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">SIMD Vigintile</td>
            		<td><input type="text" name="simd_vigintile"
            		{% if record %} value="{{record.data.simd_vigintile}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">Local authority code</td>
            		<td><input type="text" name="local_authority_code"
            		{% if record %} value="{{record.data.local_authority_code}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">Local authority name</td>
            		<td><input type="text" name="local_authority_name"
            		{% if record %} value="{{record.data.local_authority_name}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">CHP code</td>
            		<td><input type="text" name="chp_code"
            		{% if record %} value="{{record.data.chp_code}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">CHP name</td>
            		<td><input type="text" name="chp_name"
            		{% if record %} value="{{record.data.chp_name}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">HB code</td>
            		<td><input type="text" name="hb_code"
            		{% if record %} value="{{record.data.hb_code}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">HB name</td>
            		<td><input type="text" name="hb_name"
            		{% if record %} value="{{record.data.hb_name}}"{% endif %}
            		></td>
                </tr>

            {% endif %}

        </table>

        {% if model in ["course"] %}
        <hr></hr>
        <h3>College Contact</h3>
        <table class="multi">
            <thead>
                <tr>
                    <th>Contact name</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
    	        <tr>
            		<td><input style="width:160px;" type="text" name="contact_name" {% if record %}value="{{record.data.contact_name}}"{% endif %}></td>
            		<td><input style="width:180px;" type="text" name="contact_email" {% if record %}value="{{record.data.contact_email}}"{% endif %}></td>
            		<td><input style="width:180px;" type="text" name="contact_password" placeholder="********"></td>
                </tr>
            </tbody>
        </table>

 	    <p>Passwords are never displayed. Enter a new password and save to update the associated user account.<br>
        Deleting this record also deletes the associated user accounts.<br>
        Changing the contact email address changes the school login account.<br>
        If you change this, provide a new password too - 
        <span style="color:red;">otherwise the account password will default to password</span>.</p>

        <hr></hr>
        
        {% endif %}

 
        {% if current_user.do_admin %}
        <table>
            <tbody>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 0;width:250px;"></td>
            		<td>
                       	<input class="btn btn-success" style="width:220px;" type="submit" name="submit" value="Save" />
                        {% if record %}
                           	<br><input class="btn btn-danger" style="width:220px;margin-top:10px;" type="submit" name="submit" value="Delete">
                        {% endif %}

            		</td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    
    </div>
</div>

</form>


{% endblock %}
