{% extends "swap/admin/admin-base.html" %}

{% block options %}
    <a class="btn {% if model=="course" %}btn-success{% endif %}" data-type="course" href="/admin/data/course">Courses</a>
    <a class="btn {% if model=="progression" %}btn-success{% endif %}" data-type="progression" href="/admin/data/progression">Progression</a>
    <a class="btn {% if model=="uninote" %}btn-success{% endif %}" data-type="uninote" href="/admin/data/uninote">Uni notes</a>
    <a class="btn {% if model=="simd" %}btn-success{% endif %}" data-type="simd" href="/admin/data/simd">SIMD</a>
    <a class="btn {% if model=="subject" %}btn-success{% endif %}" data-type="subject" href="/admin/data/subject">Subjects</a>
    <a class="btn {% if model=="level" %}btn-success{% endif %}" data-type="level" href="/admin/data/level">Levels</a>
    <a class="btn {% if model=="grade" %}btn-success{% endif %}" data-type="grade" href="/admin/data/grade">Grades</a>
    {% if record %}<a class="btn btn-primary" href="/admin/data/{{ model }}/new">Add new {{model}}</a>{% endif %}
{% endblock %}

{% block content %}

<script type="text/javascript">
jQuery(document).ready(function($) {

    var selections = {{selections|tojson|safe}};

    $('.suggests').each(function() {
        var type = $(this).attr('name');
        $(this).autocomplete({
            'source':selections[type],
            'minLength':0
        });
    });

    $('#uninotes').autocomplete({
        'source':selections.degree_institution_name,
        'minLength':0
    });


{% if current_user.do_admin %}

    var preprow = function(row) {
        $(row).find('.noclone').remove();
        $(row).find('.delete-row').bind('click',deleterow);
        $(row).find('select').val("");
        $(row).find('input').val("");
        $(row).find('textarea').html("");
    }

    // add / remove rows to list items
    $('table.multi').find('tbody').children('tr').each(function() {
        $(this).children('td').first().prepend('<a class="btn btn-warning delete-row" style="margin:-10px 2px 0 0;" href="#">delete</a>').children('select, input').addClass('narrow');
    });
    $('table.multi').find('tbody').append('<tr><td><a class="btn btn-success add-row" href="#">add</a></td></tr>');

    var addrow = function(event) {
        event.preventDefault();
        $(this).closest('tr').siblings().length == 10000 ? $(this).hide() : false;
        if ( $(this).closest('tr').siblings().length < 10001 ) {
            var row = $(this).closest('tr').prev().clone(true).get(0);
            $(row).insertBefore($(this).closest('tr'));
            preprow(row);
        }
    }
    var deleterow = function(event) {
        event.preventDefault();
        var row = $(this).closest('tr').clone(true).get(0);
        $(this).closest('tr').siblings().length == 10001 ? $(this).closest('tr').siblings().find('.add-row').show() : false;
        if ( $(this).closest('tr').siblings().length == 1 ) {
            $(row).insertBefore($(this).closest('tr'));
            preprow(row);
        }
        $(this).closest('tr').remove();
    }
    $('.add-row').bind('click',addrow);
    $('.delete-row').bind('click',deleterow);

{% endif %}

});
</script>



<style type="text/css">
input{
    width:400px;
}
</style>

<div class="row-fluid" style="margin-bottom:10px;">
    <div class="span12">
        <h1>Manage supporting data - {% if not record %} new {% endif %}{{ model }}</h1>
    </div>
</div>

<form action="" id="datamodel" name="datamodel" method="POST" data-validate="parsley">

{% if current_user.do_admin %}
<div class="row-fluid">
    <div class="span12">
       	<p style="text-align:right;"><input class="btn btn-success" type="submit" name="submit" value="Save"></p>
    </div>
</div>
{% endif %}

<div class="row-fluid">
    <div class="span12" id="formholder">
        <table>
            <tbody>


            {% if model == "course" %}
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 0;width:250px;">course</td>
            		<td><input class="suggests" type="text" name="course" data-required="true"
            		{% if record %} value="{{record.data.course}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">at college</td>
            		<td><input class="suggests" type="text" name="college"
            		{% if record %} value="{{record.data.college}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">on campus</td>
            		<td><input class="suggests" type="text" name="campus"
            		{% if record %} value="{{record.data.campus}}"{% endif %}
            		></td>
              </tr>
    	        <tr>
                <td style="text-align:right;padding:6px 10px 0 100px;">college region</td>
            		<td><input class="suggests" type="text" name="region"
            		{% if record %} value="{{record.data.region}}"{% endif %}
            		></td>
              </tr>
    	        <tr>
                <td style="text-align:right;padding:6px 10px 0 100px;">post code</td>
            		<td><input type="text" name="post_code"
            		{% if record %} value="{{record.data.post_code}}"{% endif %}
            		></td>
              </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">SWAP locale</td>
            		<td><select name="locale">
            		    <option></option>
            		    <option {% if record %}{% if record.data.locale.lower() == "east" %} selected="selected"{% endif %}{% endif %}>East</option>
            		    <option {% if record %}{% if record.data.locale.lower() == "west" %} selected="selected"{% endif %}{% endif %}>West</option>
            		</select>
            		</td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">course classification</td>
            		<td><input class="suggests" type="text" name="classification"
            		{% if record %} value="{{record.data.classification}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">college previous names</td>
            		<td><input type="text" name="previous_name"
            		{% if record %} value="{{','.join(record.data.previous_name)}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">disabled</td>
            		<td><input type="checkbox" name="disabled" style="margin-top:8px;margin-bottom:8px;"
            		{% if record %}{% if record.data.disabled %} checked="checked"{% endif %}{% endif %}
            		></td>
                </tr>



            {% elif model == "simd" %}

    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">Post code</td>
            		<td><input type="text" name="post_code"
            		{% if record %} value="{{record.data.post_code}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">SIMD Rank</td>
            		<td><input type="text" name="simd_rank"
            		{% if record %} value="{{record.data.simd_rank}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">SIMD Quintile</td>
            		<td><input type="text" name="simd_quintile"
            		{% if record %} value="{{record.data.simd_quintile}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">SIMD Decile</td>
            		<td><input type="text" name="simd_decile"
            		{% if record %} value="{{record.data.simd_decile}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">SIMD Vigintile</td>
            		<td><input type="text" name="simd_vigintile"
            		{% if record %} value="{{record.data.simd_vigintile}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">Local authority code</td>
            		<td><input type="text" name="local_authority_code"
            		{% if record %} value="{{record.data.local_authority_code}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">Local authority name</td>
            		<td><input type="text" name="local_authority_name"
            		{% if record %} value="{{record.data.local_authority_name}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">CHP code</td>
            		<td><input type="text" name="chp_code"
            		{% if record %} value="{{record.data.chp_code}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">CHP name</td>
            		<td><input type="text" name="chp_name"
            		{% if record %} value="{{record.data.chp_name}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">HB code</td>
            		<td><input type="text" name="hb_code"
            		{% if record %} value="{{record.data.hb_code}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">HB name</td>
            		<td><input type="text" name="hb_name"
            		{% if record %} value="{{record.data.hb_name}}"{% endif %}
            		></td>
                </tr>

            {% elif model == "progression" %}
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">SWAP locale</td>
            		<td><select name="locale">
            		    <option></option>
            		    <option {% if record %}{% if record.data.locale %}{% if record.data.locale.lower() == "east" %} selected="selected"{% endif %}{% endif %}{% endif %}>East</option>
            		    <option {% if record %}{% if record.data.locale %}{% if record.data.locale.lower() == "west" %} selected="selected"{% endif %}{% endif %}{% endif %}>West</option>
            		</select>
            		</td>
                </tr>

    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">Degree course name</td>
            		<td><input type="text" name="degree_course_name"
            		{% if record %} value="{{record.data.degree_course_name}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">Degree institution name</td>
            		<td><input type="text" class="suggests" name="degree_institution_name"
            		{% if record %} value="{{record.data.degree_institution_name}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">Degree profile grades required</td>
            		<td><textarea name="degree_profile_grades_required">{% if record %}{{record.data.degree_profile_grades_required}}{% endif %}</textarea></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">Degree special requirements</td>
            		<td><textarea name="degree_special_requirements">{% if record %}{{record.data.degree_special_requirements}}{% endif %}</textarea></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">Degree additional information</td>
            		<td><textarea name="degree_additional_information">{% if record %}{{record.data.degree_additional_information}}{% endif %}</textarea></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">Access course name</td>
            		<td><input type="text" class="suggests" name="access_course_name"
            		{% if record %} value="{{record.data.access_course_name}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">Access course college</td>
            		<td><input type="text" class="suggests" name="access_course_college"
            		{% if record %} value="{{record.data.access_course_college}}"{% endif %}
            		></td>
                </tr>

            {% elif model == "uninote" %}

    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">University name</td>
            		<td><input id="uninotes" type="text" name="name"
            		{% if record %} value="{{record.data.name}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">University website</td>
            		<td><input type="text" name="website"
            		{% if record %} value="{{record.data.website}}"{% endif %}
            		></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">Progression notes</td>
            		<td><textarea name="notes" style="min-width:600px;width:100%;min-height:300px;">{% if record %}{{record.data.notes}}{% endif %}</textarea></td>
                </tr>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 100px;">Contact information<br>(Separate each contact<br>by a blank line)</td>
            		<td><textarea name="contacts" style="min-width:600px;width:100%;min-height:300px;">{% if record %}{{record.data.contacts}}{% endif %}</textarea></td>
                </tr>

            {% elif model in ["schoolsubject","schoollevel","postschoollevel"] %}

    	        <tr>
                <td style="text-align:right;padding:6px 10px 0 100px;">Name</td>
            		<td><input type="text" name="name"
            		{% if record %} value="{{record.data.name}}"{% endif %}
            		></td>
              </tr>

            {% endif %}

        </table>

        {% if model in ["course"] %}
        <hr></hr>
        <h3>Contacts</h3>
        <table class="multi">
            <thead>
                <tr>
                    <th>Contact name</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                {% if record %}
                {% for contact in record.data.contacts %}
    	        <tr>
            		<td><input style="width:200px;" type="text" name="contact_name" value="{{contact.name}}"></td>
            		<td>
            		    <input style="width:200px;" type="text" name="contact_email" value="{{contact.email}}">
            		</td>
            		<td>
            		    <input style="width:200px;" type="text" name="contact_password" placeholder="********">
            		</td>
                </tr>
                {% endfor %}
                {% endif %}
    	        <tr>
            		<td><input style="width:200px;" type="text" name="contact_name"></td>
            		<td><input style="width:200px;" type="text" name="contact_email"></td>
            		<td><input style="width:200px;" type="text" name="contact_password" placeholder="********"></td>
                </tr>
            </tbody>
        </table>

 	    <p style="margin-left:60px;">Passwords are never displayed. Enter a new password and save to update the associated user account.
        Deleting this record also deletes the associated user accounts.<br>
        Changing the contact email address changes the login account.
        If you change this, provide a new password too - 
        <span style="color:red;">otherwise the account password will default to password</span>.<br>
        If there are multiple contacts, there will be multiple associated user accounts, corresponding to each contact email address.</p>

        <hr></hr>
        
        {% endif %}

 
        {% if current_user.do_admin %}
        <table>
            <tbody>
    	        <tr>
                    <td style="text-align:right;padding:6px 10px 0 0;width:250px;"></td>
            		<td>
                       	<input class="btn btn-success" style="width:220px;" type="submit" name="submit" value="Save" />
                        {% if record %}
                           	<br><input class="btn btn-danger" style="width:220px;margin-top:10px;" type="submit" name="submit" value="Delete">
                        {% endif %}

            		</td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    
    </div>
</div>

</form>


{% endblock %}
