{% extends "swap/admin/admin-base.html" %}

{% block content %}

<script>
jQuery(document).ready(function() {
}):
</script>

{% if updates or failures %}

<div class="row-fluid" style="margin-bottom:10px;">
    <div class="span6">
    {% for failure in failures %}
        <p class="alert alert-info">{{ failure|safe }}</p>
    {% endfor %}
    </div>
    
    <div class="span6">
    {% for update in updates %}
        <p class="alert alert-success">{{ update|safe }}</p>
    {% endfor %}
    </div>
</div>

{% else %}

{% if model == "university" %}
<div class="row-fluid" style="margin-bottom:10px;">
    <div class="span12">
        <h1>Export university applications / progressions lists</h1>
        <p>You can export a list of students that have applied to a given university, or a list of students that are already known to have progressed onto a course at a given university, so that you can send the list to the university in question to retrieve further progression data. If you require a more customised list, use the <a href="/admin/student">Manage registrations</a> page to filter a custom list and export it.</p>
        <form action="" method="POST">
            <p>For which university do you wish to export students? 
                <select name="exportuniversity">
                    <option></option>
                </select>
            </p>
            <p>Do you want to export students who have applied here, or students who are progressing here?
                <select name="exportwhat">
                    <option></option>
                    <option>applications</option>
                    <option>progressions</option>
                </select>
            </p>
            <p><input class="btn" type="submit" name="submit" value="Export the university list"></p>
        </form>
    </div>
</div>
<hr></hr>
{% endif %}

<div class="row-fluid" style="margin-bottom:10px;">
    <div class="span12">
        {% if model %}
        <h1>Import {{model}} records</h1>
        {% else %}
        <h1>Import supporting data records</h1>
        {% endif %}
    </div>
</div>

<div class="row-fluid">
    <div class="span12">

        {% if not model %}
        <p>Which type of data do you want to import?</p>
        <ul>
        <li><a href="college">college</a></li>
        <li><a href="university">university</a></li>
        <li><a href="simd">SIMD</a></li>
        </ul>
        
        {% else %}

        <p>You have chosen to upload some records into the {{ model }} dataset.</p>
        <p>Your upload file must be a comma separated value list (.csv) &mdash; software such as MS Excel can save spreadsheets as this type &mdash; or a JSON file.</p>

        <form action="" method="post" enctype="multipart/form-data">
        <p><input type="file" name="upfile"></p>
        <p><input class="btn" type="submit" name="submit" value="Import" /></p>
        </form>
        {% endif %}


    </div>
  </div>

{% endif %}

{% endblock %}
