{% extends "swap/admin/admin-base.html" %}

{% block content %}

<p>Choose from the administrative options above</p>

<p><a href="/admin/student">Manage registrations</a> to gain access to registrations submitted by students, edit or delete them, create new ones, or generate data exports.</p>

<p><a href="/admin/data">Manage supporting data</a> to gain access to course and SIMD lists that are used in dropdown lists and to populate extra data for student records.</p>

<p><a href="/admin/archive">Manage data archives</a> to move old registrations to archives and remove them from immediate displays.</p>

{% endblock %}
