{% extends "swap/admin/admin-base.html" %}

{% block options %}
            <a class="btn btn-primary" href="/admin/student/new">add new registration</a>
            <a id="export" class="btn" href="/admin/export">Export selected</a>

{% endblock %}


{% block content %}

<script>
jQuery(document).ready(function() {
    var getthese = function(event) {
        event.preventDefault();
        var selected = [];
        var qry = $.parseJSON($.fn.facetview.options.querystring);
        delete qry.fields;
        if ( $('#selecttotal').is(':checked') ) {
            qry.size = $.fn.facetview.options.rawdata.hits.total;
        } else {
            $('.selectthis').each(function() {
                $(this).is(':checked') ? selected.push($(this).attr('name').replace("select_","")) : false;
            });
        }
        var loc = $(this).attr('href') + '?q=' + escape(JSON.stringify(qry));
        selected.length > 0 ? loc += '&selected=' + JSON.stringify(selected) : false;
        window.location = loc;
    }
    $('#export').bind('click',getthese);


    var post = function() {
        if ( $('#default_current').length == 0 ) {
            $('body').append('<div id="default_current" style="display:none;"></div>');
            $('.facetview_filterchoice[href="current"]').trigger('click');
        } else {
            $(".tablesorter").tablesorter({
                "headers":{0:{"sorter":false}}
            });
        }
        
        {% if current_user.swap_locale %}
        if ( $('#default_swap').length == 0 ) {
            $('body').append('<div id="default_swap" style="display:none;"></div>');
            $('.facetview_search_options_container').after('<p id="localeupdate">Please wait, updating for locale...</p>');
            setTimeout(function() {$('.facetview_filterchoice[href="{{current_user.swap_locale}}"][rel="locale.exact"]').trigger('click'); $('#localeupdate').remove(); },1500)
        } else {
            $(".tablesorter").tablesorter({
                "headers":{0:{"sorter":false}}
            });
        }
        {% endif %}

        $('#selectall').change(function() {
            $('.selectthis').attr('checked', $(this).is(':checked'));
            if ( $(this).is(':checked') ) {
                if ( $.fn.facetview.options.paging.size < $.fn.facetview.options.rawdata.hits.total ) {
                    $('#currenttotal').text($.fn.facetview.options.rawdata.hits.total);
                    $('#selecttotal_option').show();
                }
            } else {
                $('#selecttotal_option').hide();
                $('#selecttotal').attr('checked',false);
            }
        });
    }
    
    $('.facetview').facetview({
        search_url: '/query/student?',
        facets: [
            {'field':'archive.exact', 'display': 'archive'}, 
            {'field':'college.exact', 'display': 'college', 'size':100, 'order':'term'},
            {'field':'campus.exact', 'display': 'campus', 'size':100, 'order':'term'},
            {'field':'course.exact', 'display': 'course', 'size':100, 'order':'term'},
            {'field':'locale.exact', 'display': 'locale'},
            {'field':'classification.exact', 'display': 'subject classification'},
            {'field':'region.exact', 'display': 'college region'},
            {'field':'simd_quintile.exact', 'display': 'SIMD quintile'},
            {'field':'status.exact', 'display': 'status'},
            {'field':'applications.institution_shortname.exact', 'display': 'UCAS application shortnames'},
            {'field':'progressions.institution_shortname.exact', 'display': 'uni progression shortnames'},
            {'field':'withdrawn', 'display': 'withdrawn true/false'},
            {'field':'has_highers', 'display': 'has highers true/false'}
        ],
        paging: {
            from: 0,
            size: 50
        },
        sort: ["last_name"],
        pager_on_top: true,
        sharesave_link: false,
        default_operator: 'AND',
        default_freetext_fuzzify: "*",
        pushstate: true,
        searchwrap_start: '<table id="facetview_table" class="tablesorter table table-striped table-bordered"><thead><tr><th><input type="checkbox" name="selectall" id="selectall" alt="check / uncheck this to select / deselect all" title="check / uncheck this to select / deselect all" class="filter-false"></th><th>Last name</th><th>First name</th><th>D.O.B</th><th>Campus</th><th>Course</th><th>Email</th><th>Archive</th></tr></thead><tbody id="facetview_results">',
        resultwrap_start: '<tr>',
        resultwrap_end: '</tr>',
        searchwrap_end: '</tbody></table>',
        result_display: [
            [
                {
                    "pre": '<td><input type="checkbox" class="selectthis" name="select_',
                    "field": "id",
                    "post": '"></td>'
                },
                {
                    "pre": '<td><b><a alt="click to view registration" title="click to view student registration" href="/admin/student/',
                    "field": "id",
                    "post": '">'
                },
                {
                    "field": "last_name",
                    "post": '</a></b></td>'
                },
                {
                    "pre": "<td>",
                    "field": "first_name",
                    "post": "</td>"
                },
                {
                    "pre": "<td>",
                    "field": "date_of_birth",
                    "post": "</td>"
                },
                {
                    "pre": "<td>",
                    "field": "campus",
                    "post": "</td>"
                },
                {
                    "pre": "<td>",
                    "field": "course",
                    "post": "</td>"
                },
                {
                    "pre": "<td>",
                    "field": "email",
                    "post": "</td>"
                },
                {
                    "pre": "<td>",
                    "field": "archive",
                    "post": "</td>"
                }
            ]
        ],
        post_search_callback: post
    });
});
</script>

<div class="row-fluid" style="margin-bottom:10px;">
    <div class="span12">
        <h1>Manage student registrations</h1>
    </div>
</div>

<div class="row-fluid" id="selecttotal_option" style="display:none;">
    <div class="span3">
        <p></p>
    </div>
    <div class="span9">
        <div class="alert">
            <p style="margin-bottom:0;"><input type="checkbox" name="selecttotal" id="selecttotal"> Select all <span id="currenttotal"></span> records, instead of just the ones on this page.</p>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="facetview">
        </div>
    </div>
</div>


{% endblock %}
