{% extends "leaps/admin/admin-base.html" %}


{% block options %}
            <a class="btn btn-success searchtype" data-type="school" href="#">Schools</a>
            <a class="btn searchtype" data-type="institution" href="#">Institutions</a>
            <a class="btn searchtype" data-type="level" href="#">School study levels</a>
            <a class="btn searchtype" data-type="advancedlevel" href="#">Advanced study levels</a>
            <a class="btn searchtype" data-type="subject" href="#">Subjects</a>
            <a class="btn searchtype" data-type="grade" href="#">Grades</a>
            <a class="btn searchtype" data-type="simd" href="#">SIMD</a>
            <a class="btn btn-primary addnew" href="#">Add new <span id="newtype" class="newtype">school</span></a>
            <!--<a class="btn btn-warning bulkload" href="/admin/import">Bulk import <span class="newtype">school</span></a>-->

{% endblock %}


{% block content %}

<script type="text/javascript">
jQuery(document).ready(function($) {

    var optsets = {
        "school": {
            search_url: '/query/school?',
            datatype: 'JSON',
            sort: ["name.exact"],
            resdisplay: [
                [
                    {
                        "pre": '<a href="data/school/',
                        "field": "id",
                        "post": '">'
                    },
                    {
                        "field": "name",
                        "post": '</a>'
                    }
                ]
            ],
            facets: []
        }
    };
    
    optsets.institution = {
        search_url: '/query/institution?',
        datatype: 'JSON',
        sort: ['name.exact'],
        resdisplay: [
                [
                    {
                        "pre": '<a href="data/institution/',
                        "field": "id",
                        "post": '">'
                    },
                    {
                        "field": "name",
                        "post": '</a>'
                    }
                ]
            ],
        facets: []
    };
    optsets.level = {
        search_url: '/query/level?',
        datatype: 'JSON',
        sort: ['name.exact'],
        resdisplay: [
                [
                    {
                        "pre": '<a href="data/level/',
                        "field": "id",
                        "post": '">'
                    },
                    {
                        "field": "name",
                        "post": '</a>'
                    }
                ]
            ],
        facets: []
    };
    optsets.advancedlevel = {
        search_url: '/query/advancedlevel?',
        datatype: 'JSON',
        sort: ['name.exact'],
        resdisplay: [
                [
                    {
                        "pre": '<a href="data/advancedlevel/',
                        "field": "id",
                        "post": '">'
                    },
                    {
                        "field": "name",
                        "post": '</a>'
                    }
                ]
            ],
        facets: []
    };
    optsets.subject = {
        search_url: '/query/subject?',
        datatype: 'JSON',
        sort: ['name.exact'],
        resdisplay: [
                [
                    {
                        "pre": '<a href="data/subject/',
                        "field": "id",
                        "post": '">'
                    },
                    {
                        "field": "name",
                        "post": '</a>'
                    }
                ]
            ],
        facets: []
    };
    optsets.grade = {
        search_url: '/query/grade?',
        datatype: 'JSON',
        sort: ['name.exact'],
        resdisplay: [
                [
                    {
                        "pre": '<a href="data/grade/',
                        "field": "id",
                        "post": '">'
                    },
                    {
                        "field": "name",
                        "post": '</a>'
                    }
                ]
            ],
        facets: []
    };
    optsets.simd = {
        search_url: '/query/simd?',
        datatype: 'JSON',
        sort: ['post_code.exact'],
        resdisplay: [
                [
                    {
                        "pre": '<a href="data/simd/',
                        "field": "id",
                        "post": '">'
                    },
                    {
                        "field": "post_code",
                        "post": '</a>'
                    }
                ]
            ],
        facets: []
    };

    var opts = {
        search_url: optsets.school.search_url,
        datatype: optsets.school.datatype,
        facets: optsets.school.facets,
        searchbox_shade: "#fff",
        sort: optsets.school.sort,
        result_display: optsets.school.resdisplay,
        sharesave_link: false,
        paging: {
            size: 50
        }
    };
    $('#facetview').facetview(opts);

    var searchtype = function(event) {
        event ? event.preventDefault() : false;
        $('.searchtype').removeClass('btn-success');
        $(this).addClass('btn-success');
        var type = $(this).attr('data-type');
        opts.search_url = optsets[type]['search_url'];
        opts.datatype = optsets[type]['datatype'];
        opts.facets = optsets[type]['facets'];
        opts.sort = optsets[type]['sort'];
        opts.result_display = optsets[type]['resdisplay'];
        var p = $('#facetview').parent();
        $('#facetview').remove();
        p.append('<div id="facetview"></div>');
        $('#facetview').facetview(opts);
        $('.newtype').text(type);
    }
    $('.searchtype').bind('click',searchtype);
    
    var addnew = function(event) {
        event.preventDefault();
        var newtype = $('#newtype').text();
        window.location = '/admin/data/' + newtype + '/new';
    }
    $('.addnew').bind('click',addnew);
    
    var bulkload = function(event) {
        event.preventDefault();
        var newtype = $('#newtype').text();
        window.location = $(this).attr('href') + '/' + newtype
    }
    $('.bulkload').bind('click',bulkload);
});

</script>



<div class="row-fluid" style="margin-bottom:10px;">
    <div class="span12">
        <h1>Manage supporting data - <span class="newtype">school</span>s</h1>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div id="facetview"></div>
    </div>
</div>


{% endblock %}
