{% extends "leaps/admin/admin-base.html" %}

{% block content %}

<div class="row-fluid">
    <div class="span12">
        <p>Overview of records in current archive, workflow to perform</p>
        <p>e.g. there are 3000 total student surveys submitted (not including archives)<br>
        there are 500 of them awaiting interview<br>
        there are 1000 PAEs sent to unis<br>
        of which 400 have received all responses<br>
        and 200 have received some responses<br>
        and 400 have received none<br>
        and there are 700 that have had update forms sent out to them<br>
        of the 57 schools allowed to access, 40 have had at least one student submit a form<br>
        the most applied-to uni is Edinburgh and the most applied-to course is Maths<br>
        the most common post-code SIMD is EH8 9JU<br>
        and so on</p>
    </div>
</div>


{% endblock %}
